{%load static%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<style type="text/css">
			body{
				background-color:#F0FFFF
			}
			input:focus{
				background-color: gray;
			}
			input[type="password"]:focus{
				background-color: rgb(151, 113, 113);
			}
		</style>
		<meta name = "description" content = "daniel dayan website . include all of my resume and cv during the years . ">
		<meta name= "keywords" content = "daniel", "dayan" , "python" , "html" , "cv" , "fs">
		<meta http-equiv=”refresh” content="120">
		<meta charset="utf-8" >
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src = "{%static 'js/js_form.js'%}" defer></script>
	</head>
	<body onload="checkStorageSupport() , timeToReset()  , checkCookie()">
		<form  method = "post" id = "myForm" >
			{%csrf_token%}
   			{% for field in form %}
				{% if field.name != 'age'%}
					<div><label>{{field.name}}: </label>{{field}}<div><br>
				{%endif%}
			{% endfor %}

			<div><label>Age: </label>
				18<input type = "range" name = "age" id = "age" value = "18"  min = "18" max = "120" onchange = "showAge(this.value);">120<br>	  	
				<input type="hidden" id = "show_Age" name="hidden" value="hidden value">
			</div>
			<br>
			<div><label>How often you visit this site:</label>
				<datalist id = "frequencyList">
					<option value = 'visit1'>always</option>
					<option value = 'visit2'>very often</option>
					<option value = 'visit3'>sometimes</option>
					<option value = 'visit4'>never</option>
				</datalist>
				<input type = "text" list = "frequencyList">
			</div>
			<br>
			<div><fieldset><legend>Job location </legend><br>
					<input type = "checkbox" name = "location_Darom" value = "Chafon"><label>Chafon</label><br>
					<input type = "checkbox" name = "location_Darom" value = "Darom"><label>Darom</label><br>
					<input type = "checkbox" name = "location_GushDan" value = "GushDan"><label>Gush Dan</label><br>
					<input type = "checkbox" name = "location_Jerusalem" value = "Jerusalem"><label>Jerusalem</label><br>
				</fieldset>
			</div>
			<br>
			<div><fieldset><legend>Job salary</legend><br>
					<input type = "radio" name = "salary" value = "5000"><label>5,000</label><br>
					<input type = "radio" name = "salary" value = "10000"><label>5,001 - 10,000</label><br>
					<input type = "radio" name = "salary" value = "10000+"><label>10,001 - ...</label><br>
				</fieldset>
			</div>
			<br>
			<div><fieldset><legend>Ramarks: </legend>
					<textarea name = "remarks" value = "remarks..." cols = "20" rows="8" >type your remarks...</textarea>
				</fieldset>
			</div>	
			<br>
			<input type = "file" value = "UPLOAD" SIZE = "20" multiple>
			<br><br><br>
			{%if errors%}
				WRONG FIELDS :
				{%for err in errors%}
					{{err}}
				{%endfor%}
				<br>
			{%endif%}
			<input type = "submit" value="SUMBIT">
			<input type = "reset" value = "RESET">
			<input type = "button" value = "SAVE" onclick = "savePasswordName() , setCookie()">
			<input type = "button" value = "LOAD" onclick="getPasswordName() , checkCookie()">
		</form>
	</body>
</html>