{%extends 'partials/base.html'%}
{%load static%}
{%block content%}
<head>
	<link type="text/CSS" href="{%static 'css/css_home.css'%}" rel="Stylesheet" />
	<script>
		window.status = "Welcome to my site!";

		var state;
		var prevUrl;
		var openWindow;
		function openClosePage(url_code,target){
			if(url_code == 3){
				url = "{%url 'projects'%}"
			}else{
				switch(url_code){
				case 1: url = "{%url 'form'%}";break; 
				case 2: url = "{%url 'contact'%}";break; 
				case 4: url = "{%url 'CV'%}";break; 
				default: url = "{%url 'carusel'%}";break;
				}
			}
			frame = document.getElementById(target);
			if(state == 1 && prevUrl==url){
				// close new window
				if(target=='_blank'){
					openWindow.close(url);
				}else{
					frame.src = "{%url 'carusel'%}";
				}
				state = 0;
				prevUrl=" "
			}
			else{
				//open new window
				if(target=='_blank'){
					openWindow = window.open(url,target);
				}else{
					frame.src = url;
				}
				state = 1;
				prevUrl=url;
			}
		}

		var myInterval;
		var currentImage = 0
		var animationStarted = false;
		var arr = new Array();
		function PreloadImages(){
			var pic = new Image();
			arr[0] = "{%static 'pictures/PIC4.jfif'%}";
			arr[1] = "{%static 'pictures/PIC3.jfif'%}";
			arr[2] = "{%static 'pictures/PIC2.jfif'%}";
			arr[3] = "{%static 'pictures/PIC1.jfif'%}";
			for (var i=0; i < 4; i++){
				pic.src = arr[i];
			}
			ChangeImage()
			StartAnimation();
		}
		function ChangeImage(){
			let img =   "url(" + arr[currentImage] + ")"
			document.getElementById("header").style.backgroundImage =  img; 
			document.getElementById("header").style.backgroundRepeat = "no-repeat" ; 
			document.getElementById("header").style.backgroundSize = " 100% 100%" ;
	
			if (currentImage >= 3){
				currentImage = 0;
			}else{
				currentImage =  currentImage + 1;
			}
		}
		function StartAnimation(){
			if (animationStarted == false){
				myInterval = setInterval("ChangeImage()", 2000)
				animationStarted = true;
			}
		}
	</script>
</head>
<body onload= "PreloadImages()">
	<header>
		<div id = "header">
		<hgroup>
			<h1 class = "center">
				<a href = "{%url 'Home'%}" title = "daniel dayan web" >{{message}}</a>
			</h1>
		</hgroup>
		<br>
		<marquee>WELCOME TO DANIEL DAYAN SITE !!</marquee>
		</div>
	</header>
	<hr style = "margin: 0px;">
	<div class="center" >
			<form method="get">
				{%csrf_token%}
				<b><label>NAME: </label></b><input type="text" id="myName" name = "myName">
				<b><label>PASSWORD: </label></b><input type="text" id="passowrd" name = "password">
				<input type="submit" value="enter">
			</form>
	</div>
	<div id = "mainContent" class = "center" >	
		<nav style="top:115px;" >	
			<ul>
				<li title="press to open\close form to my site" onclick="openClosePage(1,'main_show')">FORM TO SITE</li>
				<li	title="press to open\close contact details" onclick="openClosePage(2,'main_show')">CONTACT</li>
				<li	title="press to open\close projects" onclick="openClosePage(3,'_blank')">PROJECTS</li>
				<li	title="press to open\close cv" onclick="openClosePage(4,'main_show')">CV</li>
		</nav>
	</div>
	<div>
		<iframe id = "main_show" name = "main_show" src= "{%url 'carusel'%}" ></iframe>  
	</div> 
</body>
{%endblock%}
